<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>401</title>
    <link rel="stylesheet" href="/static/views/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/views/401Unauthorized-image.png"/>
        <div class="btn a-btn">
            <p><a href="/">Index</a></p>
            <br>
            <p><a href="/document/1">Document</a></p>
            <br>
            <p><a href="/message">Message</a></p>
        </div>
    </div>
</body>
</html>
