<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404</title>
    <link rel="stylesheet" href="/views/style.css">
</head>
<body>
    <div class="container">
        <img src="/views/404NotFound-image.png"/>
        <div class="btn a-btn">
            <p><a href="/">Index</a></p>
            <br>
            <p><a href="/pdf/1">PDF</a></p>
            <br>
            <p><a href="/message">Message</a></p>
        </div>
    </div>
</body>
</html>
