<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/views/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // SSEクライアントに参加
            var eventSource = new EventSource("/sse");
            // バックエンドサーバから"DocumentUpdate"というSSEが届いたらページをリロードする。
            eventSource.onmessage = function(event) {
                if (event.data === "DocumentUpdate") {
                    location.reload();
                }
            };
            // ハンバーガーメニューのクリックイベント管理
            document.getElementById("hamburger-menu").addEventListener("click", function() {
                    var previewContainer = document.getElementById("document-preview-container");
                    if (previewContainer.style.display === "none" || previewContainer.style.display === "") {
                        previewContainer.style.display = "flex";
                    } else {
                        previewContainer.style.display = "none";
                    }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Document</h1>
        <div class="main-content">
            <div class="sidebar">
                <div id="hamburger-menu" class="hamburger-menu">
                    &#9776; preview
                </div>
                <!-- ページプレビュー -->
                <div id="document-preview-container" class="document-preview-container">
                    {{ range $v := .PagePathList }}
                        <p><a href="/document/{{$v.Number}}">page {{$v.Number}}</a></p>
                        <img class="document-img-preview" src="{{$v.Path}}" alt="Document Preview Page">
                    {{ end }}
                </div>
            </div>
            <div class="content-area">
                <!-- 現在のページ -->
                <div class="document-container">
                    <img class="document-img" src="{{.CurrentPagePath}}" fetchpriority="high" alt="Document Page">
                </div>
                <div class="navigation">
                    {{ if .BackShow }}
                        <a href="/document/{{.BackPageNumber}}">back page</a>
                    {{ end }}
                    {{ if .NextShow }}
                        <a href="/document/{{.NextPageNumber}}">next page</a>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="btn a-btn">
            <p><a href="/">Index</a></p>
            <br>
            <p><a href="/message">Message</a></p>
        </div>
    </div>
</body>
</html>
