<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>index</title>
    <link rel="stylesheet" href="/static/views/style.css">
</head>
<body>
    <div class="container">
        <h1>index</h1>
        <div class="btn a-btn">
            <p><a href="/pdf/1">PDF</a></p>
            <br>
            <p><a href="/message">Message</a></p>
            <br>
            <p><a href="/management">management</a></p>
        </div>
    </div>
</body>
</html>
