<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>management</title>
    <link rel="stylesheet" href="/static/views/style.css">
</head>
<body>
    <div class="container">
        <h1>management</h1>
        <p>{{.Message}}</p>
        <h3>最大ページ更新</h3>
        <form method="POST" action="/management/maxpage">
            <input type="number" id="maxpage" name="maxpage" value="{{.CurrentPage}}" required min="1" max="10000">
            <input type="submit" value="Change Max Page">
        </form>
        <h3>ファイルアップロード</h3>
        <form id="form" enctype="multipart/form-data" action="/management/upload" method="POST">
            <input type="file" id="file" name="file" accept=".pdf">
            <button class="button" type="submit">upload</button>
        </form>
        <h3>メッセージ送信</h3>
        <form method="POST" action="/management/addmessage">
            <input type="text" id="title" name="title" placeholder="Title" required min="1" max="50"><br>
            <textarea id="content" name="content" placeholder="Content" required minlength="1" maxlength="10000"></textarea><br>
            <button type="submit">send</button>
        </form>
        <h3>メッセージ管理</h3>
        <div class="btn a-btn">
            <p><a href="/management/message">ManagementMessage</a></p>
        </div>
        <br>
        <h3>etc.</h3>
        <div class="btn a-btn">
            <p><a href="/">Index</a></p>
            <br>
            <p><a href="/pdf/1">PDF</a></p>
            <br>
            <p><a href="/message">Message</a></p>
        </div>
    </div>
</body>
</html>
