<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Message</title>
    <link rel="stylesheet" href="/static/views/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // SSEクライアントに参加
            var eventSource = new EventSource("/sse");
            // バックエンドサーバから"update"というSSEが届いたらページをリロードする。
            eventSource.onmessage = function(event) {
                if (event.data === "update") {
                    location.reload();
                }
            };
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Message</h1>
        <div class="btn a-btn">
            <p><a href="/">Index</a></p>
            <br>
            <p><a href="/document/1">Document</a></p>
        </div>
        <!-- Managementがtrueであれば各メッセージにDeleteボタンを出現 -->
        {{ if .Management }}
            {{ range $v := .Message }}
            <div class="section">
                <h2>{{$v.Title}}</h2>
                <h3>{{$v.Date}}</h3>
                <pre>{{$v.Content}}</pre>
            </div>
            <button onclick="location.href='/management/deletemessage/{{$v.ID}}'">Delete</button>
            {{ end }}
        {{ else }}
            {{ range $v := .Message }}
            <div class="section">
                <h2>{{$v.Title}}</h2>
                <h3>{{$v.Date}}</h3>
                <pre>{{$v.Content}}</pre>
            </div>
            {{ end }}
        {{ end }}
    </div>
</body>
</html>
