<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Message</title>
    <link rel="stylesheet" href="/views/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var eventSource = new EventSource("/sse");
            eventSource.onmessage = function(event) {
                if (event.data === "update") {
                    location.reload();
                }
            };
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Message</h1>
        <p><a href="/pdf">pdf</a></p>
        <p><a href="/">index</a></p>
        {{range $v := .Message}}
        <div class="section">
            <h2>{{$v.Title}}</h2>
            <h3>{{$v.Date}}</h3>
            <pre>{{$v.Content}}</pre>
        </div>
        {{end}}
    </div>
</body>
</html>
