<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PDF</title>
    <link rel="stylesheet" href="/views/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var eventSource = new EventSource("/sse");
            eventSource.onmessage = function(event) {
                if (event.data === "update") {
                    location.reload();
                }
            };
            document.getElementById("hamburger-menu").addEventListener("click", function() {
                    var previewContainer = document.getElementById("pdf-preview-container");
                    if (previewContainer.style.display === "none" || previewContainer.style.display === "") {
                        previewContainer.style.display = "flex";
                    } else {
                        previewContainer.style.display = "none";
                    }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>PDF</h1>
        <div class="main-content">
            <div class="sidebar">
                <div id="hamburger-menu" class="hamburger-menu">
                    &#9776; preview
                </div>
                <div id="pdf-preview-container" class="pdf-preview-container">
                    {{ range $v := .PagePathList }}
                        <p><a href="/pdf/{{$v.Number}}">page {{$v.Number}}</a></p>
                        <img class="pdf-img-preview" src="{{$v.Path}}" alt="PDF Preview Page">
                    {{ end }}
                </div>
            </div>
            <div class="content-area">
                <div class="pdf-container">
                    <img class="pdf-img" src="{{.CurrentPagePath}}" fetchpriority="high" alt="PDF Page">
                </div>
                <div class="navigation">
                    {{ if .BackShow }}
                        <a href="/pdf/{{.BackPageNumber}}">前のページ</a>
                    {{ end }}
                    {{ if .NextShow }}
                        <a href="/pdf/{{.NextPageNumber}}">次のページ</a>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="btn a-btn">
            <p><a href="/">Index</a></p>
            <br>
            <p><a href="/message">Message</a></p>
        </div>
    </div>
</body>
</html>
