body, h1, h2, h3, p, a, form {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #555;
}

h2 {
    color: #555;
}

h3 {
    color: #555;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 500px;
	height: 30px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

.btn a:hover {
	color: #f2f2f2;
}

.a-btn a {
	background-color: #699feb;
	border: 1px solid transparent;
	border-radius: 35px;
}

.a-btn a::before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 1px solid #333;
	border-radius: 35px;
}

.a-btn a:hover {
	background-color: #5a75be;
}

.container {
    max-width: 90%; /*サイズ変更*/
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="submit"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0055aa;
}

.pdf-container {
    width: 100%;
    height: 80vh;
    margin-top: 20px;
}

.pdf-embed {
    width: 100%;
    height: 100%;
    border: none;
}

.section {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
}
